<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/css/uikit.min.css" />
<link rel="stylesheet" href="https://cdn.aisbircubes.my.id/panel-checkout/dropshipped-hshu83y7.css">
  <title>Checkout</title>
</head>
<body>
  <div class="uk-container">
    <h2 class="uk-text-center"><i class="fa-solid fa-ship"></i></h2>
    <p class="uk-text-center" style="margin-top: -19px;">Your Submision has been sended, please wait staff to response it, join discord for more information
      <br>
      <br>
      <a href="<%= link %>">Click here to check status</a></p>
  </div>
  <script src="https://kit.fontawesome.com/2cb25ac798.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/js/uikit-icons.min.js"></script>
</body>
</html>
